<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN"
			"http://www.springframework.org/dtd/spring-beans-2.0.dtd">
<beans>
	<bean id="con" class="pp.ConDemo" init-method="myinit"  destroy-method="mydestroy">
		<property name="driver" value="oracle.jdbc.driver.OracleDriver"/>
		<property name="url" value="jdbc:oracle:thin:@localhost:1521:xe"/>
		<property name="username" value="system"></property>
		<property name="password" value="oracle"></property>
	</bean>

</beans>